<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/core.css' />
  </head>
  <body>
    <h1><%= title %></h1>
	<h2>hehe</h2>
	<p>Welcome to <%= title %></p>

  </body>
</html>
